<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="cmsConnectionString" connectionString="Data Source=DESKTOP-04M6626;Initial Catalog=cms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cmsConnectionString2" connectionString="Data Source=DESKTOP-04M6626;Initial Catalog=cms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
